/*--- FORM ---*/
.btn:hover {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn.red-mint:not(.btn-outline) {
    background-color: #e43a45;
    border-color: #e43a45;
    color: #fff;
}

#commentform .input-form,
#commentform .textarea-form {
    border: 1px solid #eee;
    line-height: 35px;
    margin-bottom: 20px;
    padding: 0 10px;
    width: 100%;
}
textarea#message {
    min-height: 150px;
}


/*--- Header ---*/
.main-content-area {
    margin-bottom: 40px;
    margin-top: -40px;
}

.site-title {
	font-size: 60px;
}
.site-header h2 {
	font-weight: normal;
	line-height: 1.846153846;
	color: #757575;
}
.site-branding .header-image {
	display: block;
	margin: 10px auto;
}

.header-image {
	margin-top: 0;
}

.header-image img {
	display: block;
	width: 100%;
}

.site-branding {
	margin: 10px;
	padding: 50px 0;
	text-align: center;
}

.custom-logo-link {
	display: block;
	padding: 0 0 15px;
}

.site-title {
	font-weight: 300;
	margin: 0;
}
.site-title a {
	text-decoration: none;
}
.site-description {
	font-size: 20px;
	margin: 0;
	padding-top: 8px;
}
.container {
	-webkit-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

/*--- Menu ---*/

.toggle-menu {
    display: none;
}
.vtmenu {
    padding: 0;
    text-align: center;
}


#nav-wrapper {
    background: #fff;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    position: fixed;
	bottom: auto;
	top: 0;
	z-index: 9;
	min-height: 60px;
	width: 100%;
	box-shadow: 0 1px 4px rgba(228, 228, 228, 0.95);
}

#nav-wrapper ul {
    list-style: outside none none;
    margin: 0;
}

#nav-wrapper .vtmenu li {
    display: inline-block;
    margin-right: 35px;
}
#nav-wrapper .vtmenu a {
	background-color: transparent;
	color: #777;
    text-transform: uppercase;
}

#nav-wrapper .vtmenu a:hover {
    color: #f88e86;
}
#nav-wrapper .menu-item-has-children {
    position: relative;
    z-index: 20;
}
#nav-wrapper .sub-menu {
    background: #fff;
    left: 0;
    margin: 0;
    min-width: 230px;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.3s ease 0s;
    visibility: hidden;
}
#nav-wrapper .sub-menu .sub-menu {
    left: 100%;
    top: 0;
}
#nav-wrapper .sub-menu li {
    display: block;
	margin: 0;
}
#nav-wrapper .vtmenu .sub-menu a {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    display: block;
    font-size: 11px;
    line-height: 40px;
    padding: 0 15px;
    transition: none 0s ease 0s;
    width: 100%;
    position: relative;
}
#nav-wrapper .sub-menu li:last-child a {
	 border-bottom: 1px solid #eee;
}
#nav-wrapper .vtmenu .sub-menu a .caret {
    border-style: solid;
    border-width: 4px;
    border-color: transparent transparent transparent #666;
    display: inline-block;
    height: 0;
    right: 15px;
    vertical-align: middle;
    width: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#nav-wrapper .sub-menu a:hover {
    color: #f88e86;
}

@media (max-width: 985px) {
    .vtmenu {
        border: 0 none;
        display: none;
        left: 0;
        margin: 0;
        padding: 0 15px;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 20;
    }
    #nav-wrapper .vtmenu li {
        background: #fff;
		border-top: 1px solid #eee;
        display: inline-block;
        float: left;
        line-height: inherit;
        margin: 0;
        text-align: left;
        width: 100%;
    }
    #nav-wrapper .vtmenu li a {
        border: medium none;
        color: #888;
        display: inline-block;
        line-height: 40px;
        padding-left: 15px;
        width: 100%;
    }
    #nav-wrapper .vtmenu .sub-menu a {
        border-color: transparent;
    }
    #nav-wrapper .vtmenu li a:hover {
        background: #fff;
    }
    #nav-wrapper .vtmenu .menu-item-has-children > a {
        position: relative;
    }
    #nav-wrapper .sub-menu {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        display: none;
        left: inherit;
        opacity: 1;
        padding-left: 15px;
        position: inherit;
        top: inherit;
        transform: none;
        visibility: inherit;
    }
    #nav-wrapper .vtmenu .caret::after {
        content: "\f107";
    }
    #nav-wrapper .sub-menu .dropdown > a .caret::after {
        content: "\f107";
    }
    #nav-wrapper .vtmenu .dropdown-toggle .caret,
    #nav-wrapper .sub-menu .dropdown > a .caret {
        border: medium none;
        height: 30px;
        padding: 5px;
        width: 30px;
    }
    #nav-wrapper .sub-menu .dropdown > a .caret {
        right: 0;
    }
    #nav-wrapper .vtmenu .dropdown-toggle .caret::after {
        color: #888;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }
    #nav-wrapper .vtmenu .caret::after {
        content: "\f107";
        font-family: "FontAwesome";
        font-size: 15px;
        left: inherit;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
    #nav-wrapper .sub-menu .sub-menu {
        border: medium none;
        left: 0;
        position: relative;
        top: 0;
    }
    #nav-wrapper .sub-menu .dropdown > a .caret::after {
        content: "\f107";
    }
	/* Nav Toggle */
	.toggle-menu {
		display: inline-block;
        line-height: 50px;
        padding: 0 15px;
    }
	.nav-toggle {
		background-color: #f88e86;
		border-radius: 99px;
		box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
		display: block;
		height: 40px;
		margin: 5px auto;
		position: relative;
		width: 40px;
	}
	.nav-toggle .bar {
		width: 20px;
		height: 2px;
		background: #fff;
		border-radius: 1px;
		box-shadow: 0 1px 0 rgba(0,0,0,0.1);
		position: absolute;
		left: 50%;
		margin-left: -10px;
		top: 50%;
		-webkit-transition: opacity 0.2s linear 0.2s, margin 0.2s linear 0.2s, -webkit-transform 0.2s linear 0s;
		-moz-transition: opacity 0.2s linear 0.2s, margin 0.2s linear 0.2s, -moz-transform 0.2s linear 0s;
		-o-transition: opacity 0.2s linear 0.2s, margin 0.2s linear 0.2s, -o-transform 0.2s linear 0s;
		transition: opacity 0.2s linear 0.2s, margin 0.2s linear 0.2s, transform 0.2s linear 0s;
	}
	.nav-toggle .bar:nth-child(1) { margin-top: -7px; }
	.nav-toggle .bar:nth-child(2) { margin-top: -1px; }
	.nav-toggle .bar:nth-child(3) { margin-top: 5px; }
	.nav-toggle:hover { cursor: pointer; }
	.nav-toggle.active .bar {
		background: #fff;
		-webkit-transition: opacity 0.2s linear 0s, margin 0.2s linear 0s, -webkit-transform 0.2s linear 0.2s;
		-moz-transition: opacity 0.2s linear 0s, margin 0.2s linear 0s, -moz-transform 0.2s linear 0.2s;
		-o-transition: opacity 0.2s linear 0s, margin 0.2s linear 0s, -o-transform 0.2s linear 0.2s;
		transition: opacity 0.2s linear 0s, margin 0.2s linear 0s, transform 0.2s linear 0.2s;
	}
	.nav-toggle.active .bar:nth-child(1),
	.nav-toggle.active .bar:nth-child(3) { margin-top: -1px; }
	.nav-toggle.active .bar:nth-child(1) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.nav-toggle.active .bar:nth-child(2) {
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
	}
	.nav-toggle.active .bar:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

/* End @media ================================================================== */}

